body {
    background-image: url(Bghome.jpeg);
    background-size: 1500px auto;
    background-repeat: repeat;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: rgb(0, 0, 0);

}

button {
    margin-right: 50px;
    margin-left: 50px;
}

h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    color: rgb(0, 0, 0);
}

h2 {
    text-align: center;
    margin-top: -40px;
    margin-bottom: 50px;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

li{
    margin-bottom: 20px;
    color: rgb(12, 12, 8); 
}
#delete {
    background-color:rgb(7, 132, 250);
}